apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: reddit-back-hpa
  namespace: reddit-back
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: reddit-back

  minReplicas: 1
  maxReplicas: 5

  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 90
