# Elasticsearch values for Reddit Clone logging
elasticsearch:
  replicas: 1
  minimumMasterNodes: 1

  esJavaOpts: "-Xmx1g -Xms1g"

  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: "1"
      memory: 2Gi

  volumeClaimTemplate:
    resources:
      requests:
        storage: 5Gi

  persistence:
    enabled: true
